
<div class="col-md-3">
    <input type="date" id="fechaIn" required />
    
</div>
<div class="col-md-3">
    <input type="date" id="fechaFin" required />
    
</div>
<div class="col-md-3">
    @*<input type="button" id="BuscarPorFecha" required />*@
    <button id="BuscarporFecha" onclick="searchByDateShowPosition()">Buscar</button>
</div>
<p id="location">AQUÍ MAPA</p>
<div id="map"></div>
<div id="events"></div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzOE1r9lPnWrVImmRrp_P4LjHVfbZO7Hs" async defer></script>
<script src="~/js/site.js"></script>
