@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="col-md-3">
    <input type="date" id="fechaInicio" required />
    <button id="fechaIn">Elegir</button>

</div>

<div class="col-md-3">
    <input type="date" id="fechaFinal" required />
    <button id="fechaFin">Elegir</button>

</div>



<p id="location">AQUÍ MAPA </p>
<div id="map"></div>
@*<div id="eventsSmall"></div>*@
<div id="events"></div>


<address>

</address>

<address>

</address>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="~/js/site.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzOE1r9lPnWrVImmRrp_P4LjHVfbZO7Hs" async defer></script>
