@{
    ViewData["Title"] = "Home Page";
}

@*<div>

    </div>

        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Job Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>James</td>
                    <td>Matman</td>
                    <td>Chief Sandwich Eater</td>
                </tr>
                <tr>
                    <td>The</td>
                    <td>Tick</td>
                    <td>Crimefighter Sorta</td>
                </tr>
            </tbody>
        </table>*@






@*ääääääääää_______lugar donde se muestra el mapa______äääääääääääääääää*@
<p id="location">AQUÍ MAPA</p>
<div id="map"></div>
<div id="events"></div>
@*-----------------------------------------------------------------------------*@
<div class="row">
    <ul id="filaResults" class="list-group"></ul>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="~/js/site.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzOE1r9lPnWrVImmRrp_P4LjHVfbZO7Hs" async defer></script>
